@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --font-instrument-serif: "Instrument Serif";
    --font-geist: "Geist";
    --border: oklch(0.96 0.02 220 / 12%);
    --card: oklch(0.21 0.014 250);
}

@theme {
    --color-bone: #eff2f4;
    --color-steel: #859098;
    --color-night: #090e12;

    --color-card: var(--card);
    --color-border: var(--border);
    --font-serif: var(--font-instrument-serif);
    --font-sans: var(--font-geist);
}
